/* Underline styles */
.underline_animation {
    display: block;
    position: relative;
    padding: 0.2em 0;
}

/* Fade in */
.underline_animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.underline_animation:hover::after,
.underline_animation:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

/* Scale from center */
.underline_animation::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.underline_animation:hover::after,
li:nth-child(3) a:focus::after {
    transform: scale(1);
}